<html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/CSS.css" %}">
</head>
<body>
<div class="qwe">
</div>
<div class="q">
</div>
<h1 class="s"> Вінницька область </h1>
<a href="/"><img src="{% static "img/text.png" %}"></a>
<div class="qwer">
</div>
<div class="r">
</div>
<div class="d">
    <h2 class="p"> Область: </h2>
    <img class="nowerq" src="{% static "img/qw10.png" %}">
    <h2 class="c"> Герб: </h2>
    <img class="nomer" src="{% static "img/q10.png" %}">
</div>
<div class="qw">
</div>
<h4> Площа: 26513 км2;</h4>
<h4> Населення: 1 602 163 осіб;</h4>
<h4> Густота населення: 59,44 осіб/км2;</h4>
<h4> Телефонні коди: +380-43;</h4>
<h4> Обласний центр: Вінниця;</h4>
<h4> Утворена: 27 лютого 1932 року;</h4>
<h4> Номери автомобілів: AB, KB;</h4>
<h4> Визначні місця: Південний Буг, Вінницький фонтан Roshen, <br>Національний музей-садиба М. І. Пирогова; </h4>
<h4> Код КОАТУУ: 0500000000; </h4>
<h4> Райони: 27; </h4>
<h4> Інтернет-домени: vn.ua; </h4>
</body>
</html>