<html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/CSS.css" %}">
</head>
<body>
<div class="qwe">
</div>
<div class="q">
</div>
<h1 class="s"> Чернігівська область </h1>
<a href="/"><img src="{% static "img/text.png" %}"></a>
<div class="qwer">
</div>
<div class="r">
</div>
<div class="d">
    <h2 class="p"> Область: </h2>
    <img class="nowerq" src="{% static "img/qw12.png" %}">
    <h2 class="c"> Герб: </h2>
    <img class="nomer" src="{% static "img/q12.png" %}">
</div>
<div class="qw">
</div>
<h4> Площа: 31865 км2;</h4>
<h4> Населення: 1 033 400 осіб;</h4>
<h4> Густота населення: 32,01 осіб/км2;</h4>
<h4> Телефонні коди: +380-46;</h4>
<h4> Обласний центр: Чернігів;</h4>
<h4> Утворена: 15 жовтня 1932 року;</h4>
<h4> Номери автомобілів: CB;</h4>
<h4> Визначні місця: Троїцько-Іллінський монастир, <br>Національний історико-культурний заповідник «Гетьманська
    столиця»; </h4>
<h4> Код КОАТУУ: 7400000000;</h4>
<h4> Райони: 22;</h4>
<h4> Інтернет-домени: chernigov.ua; cn.ua;</h4>
</body>
</html>