.s{
	text-align: center;
}
.d{
	width: 350px;
	height: 700px;
	text-align: right;
	float: right;
}
.q{
	float: left;
	width: 70px;
	height: 900px;
	background-image: url(v4.png);
}
.qw{
	float: left;
	width: 50px;
    height: 500px;
}
.qwe{
	float: right;
	width: 70px;
	height: 900px;
	background-image: url(v4.png);
}
.qwer{
	height: 50px;
}
.r{
	float: right;
	width: 50px;
    height: 500px;
}