<html>
<head>
<link rel="stylesheet" href="CSS.css"
</head>
<body>
<div class="qwe">
</div>
<div class="q">
</div>
<h1 class="s"> Черкаська область </h1>
<a href="main.html"><img src="text.png"></a>
<div class="qwer">
</div>
<div class="r">
</div>
<div class="d">
<h2 class="p"> Область: </h2>
<img class="nowerq" src="qw14.png">
<h2 class="c"> Герб: </h2>
<img class="nomer" src="q14.png">
</div>
<div class="qw">
</div>
<h4> Площа: 20900 км2;</h4>
<h4> Населення: 1 231 200 осіб;</h4>
<h4> Густота населення: 58,39 осіб/км2;</h4>
<h4> Телефонні коди:	+380-542;</h4>
<h4> Обласний центр: Черкаси;</h4>
<h4> Утворена: 7 січня 1954 року;</h4>
<h4> Номери автомобілів:	CA;</h4>
<h4> Визначні місця: Національний дендрологічний парк «Софіївка»,<br> Буцький каньйон, Холодний Яр;      </h4>    
<h4> Код КОАТУУ:	7100000000;</h4>
<h4> Райони:	20;</h4>   
<h4> Інтернет-домени:	cherkassy.ua; ck.ua;</h4>                                                                                    
</body>
</html>