<html>
<head>
<link rel="stylesheet" href="CSS.css"
</head>
<body>
<div class="qwe">
</div>
<div class="q">
</div>
<h1 class="s"> Сумська область </h1>
<a href="main.html"><img src="text.png"></a>
<div class="qwer">
</div>
<div class="r">
</div>
<div class="d">
<h2 class="p"> Область: </h2>
<img class="nowerq" src="qw13.png">
<h2 class="c"> Герб: </h2>
<img class="nomer" src="q13.png">
</div>
<div class="qw">
</div>
<h4> Площа: 23834 км2;</h4>
<h4> Населення: 1 104 500 осіб;</h4>
<h4> Густота населення: 45,91  осіб/км2;</h4>
<h4> Телефонні коди:	+380-542;</h4>
<h4> Обласний центр: Суми;</h4>
<h4> Утворена: 10 січня 1939 року;</h4>
<h4> Номери автомобілів:	BM;</h4>
<h4> Визначні місця: Сумський обласний краєзнавчий музей,<br> Сумський художній музей імені Никанора Онацького, Краєзнавчий музей;  </h4>
<h4> Код КОАТУУ:	5900000000;</h4>
<h4> Райони:	18;</h4>   
<h4> Інтернет-домени:	sumy.ua; sm.ua;</h4>                                                                                              
</body>
</html>