<html>
<head>
<link rel="stylesheet" href="CSS.css"
</head>
<body>
<div class="qwe">
</div>
<div class="q">
</div>
<h1 class="s"> Тернопільська область </h1>
<a href="main.html"><img src="text.png"></a>
<div class="qwer">
</div>
<div class="r">
</div>
<div class="d">
<h2 class="p"> Область: </h2>
<img class="nowerq" src="qw5.png">
<h2 class="c"> Герб: </h2>
<img class="nomer" src="q5.png">
</div>
<div class="qw">
</div>
<h4> Площа: 13823 км2;</h4>
<h4> Населення: 1 059 200 осіб;</h4>
<h4> Густота населення: 76,13 осіб/км2;</h4>
<h4> Телефонні коди:	+380-35;</h4>
<h4> Обласний центр: Тернопіль;</h4>
<h4> Утворена: 4 грудня 1939 року;</h4>
<h4> Номери автомобілів:	BO, ТЕ, TI, ТК;</h4>
<h4> Визначні місця: Почаївська лавра, Старий замок,<br> Тернопільський став;    </h4>  
<h4>Код КОАТУУ:	6100000000; </h4>
<h4>Райони:	17; </h4>   
<h4>Інтернет-домени:	ternopil.ua; te.ua; </h4>                                                                                            
</body>
</html>